<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

	<div class="container">

		<h1>Login Here</h1>

		<font color='red'>
			<p th:text="${errMsg}"></p>
		</font>

		<form th:action="@{/login}" th:object="${counsellor}" method="post">

			<table>

				<tr>
					<td>Email: </td>
					<td><input type="email" th:field="*{email}" required /> </td>
				</tr>

				<tr>
					<td>Password: </td>
					<td><input type="password" th:field="*{pwd}" required /> </td>
				</tr>

				<tr>
					<td><a href="register">Reset</a></td>
					<td><input type="submit" value="Login" class="btn btn-primary" /> </td>
				</tr>

			</table>


		</form>

		<a href="register">Register Here</a>

		<a href="forgot-pwd">Forgot Pwd ?</a>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>

</html>